<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <h2>{{mars_data.latest_mars_news.news_title}}</h2>
    <p>{{mars_data.latest_mars_news.news_p}}</p>
    <h1>Featured Mars Image</h1>
    <img src="{{ mars_data.featured_mars_image.image }}" alt="Mars Image">

    <h1>Current Weather on Mars:</h1>
    <p>{{ mars_data.current_weather_on_mars.current_weather_on_mars }}</p>
    <h1>Mars Facts: </h1>
    <table>
      {% for key, value in mars_data.mars_facts.mars_facts.items() %}
         <tr>
              <th> {{ key }} </th>
              <td> {{ value.Mars }} </td>
         </tr>
      {% endfor %}
    </table>
    <h4>Mars Hemispere: {{ mars_data.hemisphere_image_urls }}</h4>
    <div class="card">
      <img src="{{mars_data.hemisphere.0.img_url}}" class="card-img-top" alt="Fig1" style="width:360px;">
      <div class="card-body">
        <h3>{{mars_data.hemisphere.0.title}}</h3>
      </div>
    </div>
    <div class="card">
      <img src="{{mars_data.hemisphere.1.img_url}}" class="card-img-top" alt="Fig1" style="width:360px;">
      <div class="card-body">
          <h3>{{mars_data.hemisphere.1.title}}</h3>
      </div>
    </div>
    <div class="card">
      <img src="{{mars_data.hemisphere.2.img_url}}" class="card-img-top" alt="Fig1" style="width:360px;">
      <div class="card-body">
          <h3>{{mars_data.hemisphere.2.title}}</h3>
      </div>
    </div>
    <div class="card">
      <img src="{{mars_data.hemisphere.3.img_url}}" class="card-img-top" alt="Fig1" style="width:360px;">
      <div class="card-body">
          <h3>{{mars_data.hemisphere.3.title}}</h3>
      </div>
    </div>
      
    
  </div>
</body>

</html>

