<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
     <p>Latest Mars News</p>
     <p>Featured Mars Image</p>
    <img src="{{ mars_data.mars_img }}" alt="Mars Image">

    <h2>Current Weather on Mars</h2>
    <h3>Mars Facts: {{ mars_data.Tweet }}</h3>
    <!-- table -->
    <!-- <h3>Min Temp: {{ vacation.min_temp }}</h3> -->
  </div>
  </div>
</body>

</html>
<!-- mars_data=  {latest_mars_news: {'news title': news_title,'news p': news_p},
          featured_mars_image: {'image': mars_img},
          current_weather_on_mars:{'current weather on mars':Tweet},
          mars_facts:{'mars facts':facts_dict}} -->
